@import "../templates/bg-parallax";
#about {
  padding: 60px 0;

  .about-bg-diagonal {
    @include bg-parallax('../img/bg-about.jpg');
    width: 60%;
    height: 700px;
    float: right;
    border: {
      top: 700px solid transparent;

      left: 200px solid $white;
    }
  }
}

@import "../templates/title";

.about-description {
  p {
    padding-top: .5rem;

  }
}

.btn-about {
  border-color: darken($sea-serpent, 15%);
  background: $white;
  color: $sea-serpent;

  &:hover, &:focus {
    border-color: lighten($sea-serpent,25%);
    background: $sea-serpent ;
    color: $white;
  }
}

.about-content-box {
  float: left;
  height: 700px;

  .about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;

    .about-content-box-inner {
      display: table-cell;
      vertical-align: middle;

      .content-title.wow {
        h3 {
          text-align: left;
        }

        .content-title-underline {
          margin: 0 0 30px 0;
        }
      }
    }
  }
}

.about-description, .about-btn {
}