@import "../templates/border-radius_mixin";
.btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font: {
    size: 28px;
  }
  padding: 3px 15px;
  @include border-rad(0);
  display: none;
}