footer {
  background: $nickel;
  padding-top: 30px;
  border-top: 5px solid rgba(0,0,0,0.1);


}

#contact-left {
  h3 {
    color: $white;
    font: {
      size: 27px;
      weight: 700;
    }
  }
  p {
    color: $white;
    margin-bottom: 30px;
  }
}

#contact-info {
  background: {
    image: url("../img/world-map.png");
    repeat: no-repeat;
    size: contain;
  }
  address {
    color: $white;
  }
}

address strong, #phone-fax-email strong {
  font-size: 16px;
  letter-spacing: 1px;

}

ul.social-list.icon-white {
  li {
    i {
      color: $white;
    }
  }
}


#contact-right {
  h3 {
    color: $white;
  }
  form {
    .form-control {
      background: transparent;
      border: {
        radius: 0;
        color: $white;
      }

      font: {
        size: 17px;
        widows: 700;
      }

      padding: 8px 16px;
      margin-bottom: 20px;
      color: $white;

    }
  }
}

#footer-bottom {
  background-color: rgba(0,0,0,0.1);
  padding: 30px 0;
  margin-top: 60px;
  }
#footer-copyrights {
  p {
    margin: 0;
    color: $white;
  }
}

#footer-menu {
  float: left;
  color: $white;
  font: {
    size: 16px;
    width: 300;
  };

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    li {
      display: inline-block;
      a {
        color: $white;
        font: {
         size: 16px;
         weight: 300;
        }
        margin: 0 10px;
        text-decoration: none;

        &:hover {
          color: $sea-serpent;
        }
      }
    }
  }
}