@import "../templates/border-radius_mixin";
.navbar {
  padding: 20px 0;
  transition: all .5s ease-in-out;
}

.custom-top-nav {
  background-color: rgba(0,0,0,0.1);
  padding: 7px 0;
}

.header-nav-wrapper {
  padding: 0 5%;

  .navbar-collapse {
    max-height: none !important;
  }

}


.navbar-nav {
  float: right;
  li {
    a {
      color: $white;
      font: {
        size: 15px;
        weight: 700;
      }
      background: none;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:hover, &:focus {
        background: none;
        color:$sea-serpent;
      }

    }

    &.active {
      a {
        color: $sea-serpent !important;
        background: none !important;
      }
    }
  }
}

.navbar-toggle {
  background-color: rgba(0,0,0,0.1);
  border: 1ps solid $white;
  @include border-rad(0);
  .icon-bar {
    background-color: $white;
  }
}

