@import '../templates/bg-parallax';

@import "../templates/animation-props";

#home {
  margin-top: 0;
}

#home-cover {

  @include  bg-parallax('../img/bg-home.jpg');
  @include animation-props(.1s,.5s);

}

#home-content-box {
  width: 100%;
  height: 100%;
  display: table;
}
#home-content-box-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading {
  @include animation-props(.5s,.5s);
  h3 {
    color: $white !important;
    font: {
      size: 55px;
      weight: 700;
    }

    margin: 20px 0;
  }

}

#home-btn {
  @include  animation-props(1s, .5s);
}

