

.pricing-box {
  border: 3px solid $sea-serpent;
  padding: 50px 0;
  margin: 40px 0;

  h4.pricing-title {
    background: $sea-serpent;
    color: $white;
    display: inline-block;
    padding: 15px 7px;
    font: {
      size: 14px;
      weight: 700;
    }
    text-transform: uppercase;
    margin: 0 0 30px;
  }

  h3.pricing-value {
    font: {
      size: 60px;
      weight: 700;
    }

    sup {
      font: {
        size: 28px;
        weight: normal;
      }
      vertical-align: super;

    }
  }

  ul.pricing-spec {
    padding-left: 0;
    margin: 20px 0 60px;
    li {
      list-style: none;

      p {
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

.pricing-box-lg {
  padding: 90px 0;
  margin: 0;
  background: $sea-serpent;
  h4.pricing-title {
    color: $sea-serpent;
    background: $white;
  }
  p {
    color: $white;
  }
  .pricing-btn {
    .btn-about {
      background: $sea-serpent;
      color: $white;
      border-color: $white;

      &:hover, &:active {
        background: $white;
        color: $sea-serpent;
        border-color: $sea-serpent;
      }
    }

  }
}