

@mixin hover-effects($color,$bg-color) {
  color: $color;
  background: $bg-color;
}

@mixin margins($bottom) {
  margin: {
    top: 0;
    right: 0;
    bottom: $bottom;
    left: 0;
  }
}

.content-box {
  padding: 60px 0;

@import "../templates/title";
}

.service-item {
  padding: 20px 0;
  margin-bottom: 20px;
  cursor: pointer;
  .service-item-title {
    h3 {
      font: {
        size: 20px;
        weight: 400;
      }
      @include margins(10px);
    }
  }
  .service-item-description {
    p {
      @include margins(0);
      padding-left: 85px;
    }
  }
  &:hover .service-item-icon i {
  @include  hover-effects($white, $sea-serpent)
  }
}

.service-item-icon {
  i {
    color: $sea-serpent;
    float: left;
    padding: 15px;
    margin-right: 25px;
    height: 75px;
    width: 75px;
    text-align: center;

  }
}


