@import '../templates/bg-parallax';
.stats-cover {
  @include bg-parallax('../img/bg-stats.jpg')
}

#stats {
  .content-box {
    background: rgba(0,0,0,.8);


  }
}

.stats-item {
  padding: 100px 0;
  i {
    color: $sea-serpent;
  }
  h2 {
    color: $white;
    font: {
      size: 35px;
      weight: 700;
    }

    margin: {
      top: 15px;
      bottom: 1px;
    }
  }

  p {
    color: $white;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
  }
}