

#team {
  display: block;
  margin-top: 0;
}
ul.social-list {
  width: 100%;
  padding-left: 0 !important;
  li {
    list-style: none;
    display: inline-block;
    padding: 0 5px 0 0;
  }
}
.team-member {
  margin: 0 15px;


}
.team-member-info {
  padding: 10px 0 30px;
}
h4.team-member-name {
  padding-top: 2px;
  font: {
    size: 22px;
    weight: 700;

  }
  letter-spacing: 1px;

}

h4.team-member-designation {
  color: $sea-serpent;
  font: {
    size: 15px;
    weight: 700;
    style: italic;
  }

  letter-spacing: 1px;
  margin-top: 5px;
}

@import "../templates/default_theme";