@import "../templates/bg-parallax";

#testimonials-cover {
  @include bg-parallax('..//img/bg-testimonials.jpg');

  .content-box {
    background: rgba(0,0,0,0.1);
  }
}
.content-title-white {
  color: $white !important;
}

#customers-testimonials {
  padding: 50px 0;

  .testimonial {
    img {
      max-width: 120px;
      margin: 0 auto;
    }
    blockquote {
      border: 0;
      font: {
        family: Georgia,sans-serif;
        style: italic;
      }
      color: $white;
      padding: .5rem 10rem;
      position: relative;

      p {
        color: $white;
      }

      &::before {
        top:0;
        left: 6rem;
        content: "\201C";
      }

      &::after {
        bottom: 50%;
        content: "\201D";
        right: 6rem;
      }

      &::after, &::before {
        font: {
          style: normal;
          size: 6rem;
        }

        line-height: 1;
        width:  2.5rem;
        height: 2.5rem;
        position: absolute;
      }
    }

    .testimonial-author {
      p {
        color: $white;
        font-size: 1.3rem;

        strong {
          display: block;
        }
      }
    }
  }

}