#work {
  padding-top: 30px;

  @import "../templates/title";

  .row.wow [class*=col-md-3] {
    padding: 0;

    .img-wrapper {
      overflow: hidden;
      img {
        -webkit-transition: -webkit-transform .5s ease;
        transition: -webkit-transform .5s ease;

        &:hover {
          -webkit-transform: scale(1.5);
          transform: scale(1.5);
          cursor: zoom-in;
      }
      }
    }
  }

}

