.btn-general {
  border-width: 2px;
  border-radius: 0;
  padding: 12px 26px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase; }

.btn-white {
  color: #fff;
  border-color: #fff; }
  .btn-white:hover, .btn-white:focus {
    background: #fff;
    color: #41464B; }

#home {
  margin-top: 0; }

#home-cover {
  background-image: url("../img/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation-delay: 0.1s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-duration: 0.5s; }

#home-content-box {
  width: 100%;
  height: 100%;
  display: table; }

#home-content-box-inner {
  display: table-cell;
  vertical-align: middle; }

#home-heading {
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 0.5s; }
  #home-heading h3 {
    color: #fff !important;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0; }

#home-btn {
  animation-delay: 1s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.5s; }

.content-box {
  padding: 60px 0; }
  .content-box .content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem; }
  .content-box .content-title-underline {
    width: 30px;
    height: 3px;
    background: #34C6D3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem; }

.service-item {
  padding: 20px 0;
  margin-bottom: 20px;
  cursor: pointer; }
  .service-item .service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0; }
  .service-item .service-item-description p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 85px; }
  .service-item:hover .service-item-icon i {
    color: #fff;
    background: #34C6D3; }

.service-item-icon i {
  color: #34C6D3;
  float: left;
  padding: 15px;
  margin-right: 25px;
  height: 75px;
  width: 75px;
  text-align: center; }

#about {
  padding: 60px 0; }
  #about .about-bg-diagonal {
    background-image: url("../img/bg-about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 60%;
    height: 700px;
    float: right;
    border-top: 700px solid transparent;
    border-left: 200px solid #fff; }

.content-title h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem; }

.content-title-underline {
  width: 30px;
  height: 3px;
  background: #34C6D3;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem; }

.about-description p {
  padding-top: .5rem; }

.btn-about {
  border-color: #218f99;
  background: #fff;
  color: #34C6D3; }
  .btn-about:hover, .btn-about:focus {
    border-color: #9de3ea;
    background: #34C6D3;
    color: #fff; }

.about-content-box {
  float: left;
  height: 700px; }
  .about-content-box .about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table; }
    .about-content-box .about-content-box-outer .about-content-box-inner {
      display: table-cell;
      vertical-align: middle; }
      .about-content-box .about-content-box-outer .about-content-box-inner .content-title.wow h3 {
        text-align: left; }
      .about-content-box .about-content-box-outer .about-content-box-inner .content-title.wow .content-title-underline {
        margin: 0 0 30px 0; }

#work {
  padding-top: 30px; }
  #work .content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem; }
  #work .content-title-underline {
    width: 30px;
    height: 3px;
    background: #34C6D3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem; }
  #work .row.wow [class*=col-md-3] {
    padding: 0; }
    #work .row.wow [class*=col-md-3] .img-wrapper {
      overflow: hidden; }
      #work .row.wow [class*=col-md-3] .img-wrapper img {
        -webkit-transition: -webkit-transform .5s ease;
        transition: -webkit-transform .5s ease; }
        #work .row.wow [class*=col-md-3] .img-wrapper img:hover {
          -webkit-transform: scale(1.5);
          transform: scale(1.5);
          cursor: zoom-in; }

#team {
  display: block;
  margin-top: 0; }

ul.social-list {
  width: 100%;
  padding-left: 0 !important; }
  ul.social-list li {
    list-style: none;
    display: inline-block;
    padding: 0 5px 0 0; }

.team-member {
  margin: 0 15px; }

.team-member-info {
  padding: 10px 0 30px; }

h4.team-member-name {
  padding-top: 2px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px; }

h4.team-member-designation {
  color: #34C6D3;
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 5px; }

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #5ed2dc;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #218f99; }

#testimonials-cover {
  background-image: url("..//img/bg-testimonials.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  #testimonials-cover .content-box {
    background: rgba(0, 0, 0, 0.1); }

.content-title-white {
  color: #fff !important; }

#customers-testimonials {
  padding: 50px 0; }
  #customers-testimonials .testimonial img {
    max-width: 120px;
    margin: 0 auto; }
  #customers-testimonials .testimonial blockquote {
    border: 0;
    font-family: Georgia,sans-serif;
    font-style: italic;
    color: #fff;
    padding: .5rem 10rem;
    position: relative; }
    #customers-testimonials .testimonial blockquote p {
      color: #fff; }
    #customers-testimonials .testimonial blockquote::before {
      top: 0;
      left: 6rem;
      content: "\201C"; }
    #customers-testimonials .testimonial blockquote::after {
      bottom: 50%;
      content: "\201D";
      right: 6rem; }
    #customers-testimonials .testimonial blockquote::after, #customers-testimonials .testimonial blockquote::before {
      font-style: normal;
      font-size: 6rem;
      line-height: 1;
      width: 2.5rem;
      height: 2.5rem;
      position: absolute; }
  #customers-testimonials .testimonial .testimonial-author p {
    color: #fff;
    font-size: 1.3rem; }
    #customers-testimonials .testimonial .testimonial-author p strong {
      display: block; }

.pricing-box {
  border: 3px solid #34C6D3;
  padding: 50px 0;
  margin: 40px 0; }
  .pricing-box h4.pricing-title {
    background: #34C6D3;
    color: #fff;
    display: inline-block;
    padding: 15px 7px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px; }
  .pricing-box h3.pricing-value {
    font-size: 60px;
    font-weight: 700; }
    .pricing-box h3.pricing-value sup {
      font-size: 28px;
      font-weight: normal;
      vertical-align: super; }
  .pricing-box ul.pricing-spec {
    padding-left: 0;
    margin: 20px 0 60px; }
    .pricing-box ul.pricing-spec li {
      list-style: none; }
      .pricing-box ul.pricing-spec li p {
        font-weight: 400;
        text-transform: uppercase; }

.pricing-box-lg {
  padding: 90px 0;
  margin: 0;
  background: #34C6D3; }
  .pricing-box-lg h4.pricing-title {
    color: #34C6D3;
    background: #fff; }
  .pricing-box-lg p {
    color: #fff; }
  .pricing-box-lg .pricing-btn .btn-about {
    background: #34C6D3;
    color: #fff;
    border-color: #fff; }
    .pricing-box-lg .pricing-btn .btn-about:hover, .pricing-box-lg .pricing-btn .btn-about:active {
      background: #fff;
      color: #34C6D3;
      border-color: #34C6D3; }

.stats-cover {
  background-image: url("../img/bg-stats.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

#stats .content-box {
  background: rgba(0, 0, 0, 0.8); }

.stats-item {
  padding: 100px 0; }
  .stats-item i {
    color: #34C6D3; }
  .stats-item h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px; }
  .stats-item p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0; }

.client {
  padding: 40px 0; }

footer {
  background: #64707B;
  padding-top: 30px;
  border-top: 5px solid rgba(0, 0, 0, 0.1); }

#contact-left h3 {
  color: #fff;
  font-size: 27px;
  font-weight: 700; }
#contact-left p {
  color: #fff;
  margin-bottom: 30px; }

#contact-info {
  background-image: url("../img/world-map.png");
  background-repeat: no-repeat;
  background-size: contain; }
  #contact-info address {
    color: #fff; }

address strong, #phone-fax-email strong {
  font-size: 16px;
  letter-spacing: 1px; }

ul.social-list.icon-white li i {
  color: #fff; }

#contact-right h3 {
  color: #fff; }
#contact-right form .form-control {
  background: transparent;
  border-radius: 0;
  border-color: #fff;
  font-size: 17px;
  font-widows: 700;
  padding: 8px 16px;
  margin-bottom: 20px;
  color: #fff; }

#footer-bottom {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  margin-top: 60px; }

#footer-copyrights p {
  margin: 0;
  color: #fff; }

#footer-menu {
  float: left;
  color: #fff;
  font-size: 16px;
  font-width: 300; }
  #footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
    #footer-menu ul li {
      display: inline-block; }
      #footer-menu ul li a {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        margin: 0 10px;
        text-decoration: none; }
        #footer-menu ul li a:hover {
          color: #34C6D3; }

.navbar {
  padding: 20px 0;
  transition: all .5s ease-in-out; }

.custom-top-nav {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 7px 0; }

.header-nav-wrapper {
  padding: 0 5%; }
  .header-nav-wrapper .navbar-collapse {
    max-height: none !important; }

.navbar-nav {
  float: right; }
  .navbar-nav li a {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    background: none;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .navbar-nav li a:hover, .navbar-nav li a:focus {
      background: none;
      color: #34C6D3; }
  .navbar-nav li.active a {
    color: #34C6D3 !important;
    background: none !important; }

.navbar-toggle {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1ps solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .navbar-toggle .icon-bar {
    background-color: #fff; }

.btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 28px;
  padding: 3px 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: none; }

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0; }

  ul.nav.navbar-nav {
    float: left; }

  .header-nav-wrapper {
    padding: 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0; }

  ul.nav.navbar-nav {
    float: left; }

  .header-nav-wrapper {
    padding: 0; }

  #about-bg-diagonal {
    border-top: 0 !important;
    border-left: 0 !important;
    width: 100% !important;
    height: 350px !important; }

  .about-content-box {
    width: 100% !important;
    height: 250px !important; }

  .about-content-box-inner h3 {
    text-align: center !important; }
  .about-content-box-inner .content-title-underline {
    margin-left: auto !important;
    margin-right: auto !important; }
  .about-content-box-inner #about-btn {
    text-align: center !important; }

  .stats-item {
    padding: 20px 0; }

  #footer-bottom {
    text-align: center; } }
@media (max-width: 767px) {
  #home-heading h3 {
    font-size: 24px !important; }

  .btn-general {
    padding: 6px 22px;
    font-size: 14px; }

  #about-bg-diagonal {
    border-top: 0 !important;
    border-left: 0 !important;
    width: 100% !important;
    height: 350px !important; }

  .about-content-box {
    width: 100% !important;
    height: 250px !important; }

  .about-content-box-inner h3 {
    text-align: center !important; }
  .about-content-box-inner .content-title-underline {
    margin-left: auto !important;
    margin-right: auto !important; }
  .about-content-box-inner #about-btn {
    text-align: center !important; }

  .img-wrapper img {
    min-width: 100%; }

  .testimonial blockquote {
    padding: 6px 50px !important; }
    .testimonial blockquote p {
      font-size: 14px !important; }
    .testimonial blockquote:before {
      left: 10px !important; }
    .testimonial blockquote:after {
      right: 10px !important; }

  .stats-item {
    padding: 20px 0 !important; }

  #footer-bottom {
    text-align: center; } }
@media (max-width: 320px) {
  .service-item-icon i {
    width: 58px;
    height: 58px;
    padding: 7px; }

  .service-item-title h3 {
    font-size: 17px !important; }

  .about-content-box {
    margin-top: 40px; }

  .testimonial img {
    max-width: 80px !important; }
  .testimonial blockquote {
    padding: 6px 30px !important; }
    .testimonial blockquote p {
      font-size: 14px !important; }
    .testimonial blockquote:before {
      left: 0 !important; }
    .testimonial blockquote:after {
      right: 5px !important; } }
/*
GLOBALS
 */
html, body, #home, #home-cover {
  height: 100%; }
  html h3, body h3, #home h3, #home-cover h3 {
    color: #41464B;
    text-transform: uppercase; }

body {
  font-family: 'Roboto Condensed', sans-serif; }

p {
  color: #64707B;
  font-size: 1em;
  font-weight: 300; }

/*# sourceMappingURL=style.css.map */
