$sea-serpent: #34C6D3;
$outer-space: #41464B;
$nickel: #64707B;
$white: #fff;
$black: 000;

@mixin  margins($bottom) {
margin: {
  top: 0;
  left: 0;
  right: 0;
  bottom: $bottom;
}
}

@import "templates/bg-parallax";


@import 'templates/btn-general';
@import 'scss-components/home';
@import "scss-components/service";
@import "scss-components/about";
@import "scss-components/work";
@import "scss-components/team";
@import "scss-components/testimonials";
@import "scss-components/pricing";
@import "scss-components/stats";
@import "scss-components/clients";
@import "scss-components/footer";
@import "scss-components/header";
@import "scss-components/back-to-top";
@import "responsiveness/medium_size_query";
@import "responsiveness/small_size_query";
@import "responsiveness/extra-small-size-query";



/*
GLOBALS
 */


html, body, #home, #home-cover {
  height: 100%;

  h3 {
    color: $outer-space;
    text-transform: uppercase;
  }
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  color: $nickel;
  font: {
    size: 1em;
    weight: 300;
  }
}



