#about-bg-diagonal {
  border-top: 0 !important;
  border-left: 0 !important;

  width: 100% !important;
  height: 350px !important;
}

.about-content-box {
  width: 100% !important;
  height: 250px !important;
}

.about-content-box-inner {
  h3 {
    text-align: center !important;
  }

  .content-title-underline {
    margin: {
      left: auto !important;
      right: auto !important;
    }
  }

  #about-btn {
    text-align: center !important;
  }
}