.btn-general {
  border: {
   width: 2px;
   radius: 0;
  }

  padding: 12px 26px;

  font: {
   size: 16px;
   weight: 400;
  }

  text-transform: uppercase;
 }

.btn-white {
 color: $white;
 border-color: $white;

 &:hover, &:focus {
  background: $white;
  color: $outer-space;
 }
}