


.content-title {
  h3 {
    font: {
      size: 30px;
      weight: 700;
    }
    text-align: center;
    margin: {
      bottom: 2rem;
    }
  }
}
.content-title-underline {
  width: 30px;
  height: 3px;
  background: $sea-serpent;
  margin: {
    left: auto;
    right: auto;
    bottom: 3rem;
  }
}