@media (max-width: 767px) {
  #home-heading  {
    h3 {
      font-size: 24px !important;

    }
  }

  .btn-general {
    padding: 6px 22px;
    font-size: 14px;
  }

 @import "../templates/about_section_template";

  .img-wrapper img {
    min-width: 100%;
  }

  .testimonial blockquote {
    padding: 6px 50px !important;
    p {
      font-size: 14px !important;
    }
    &:before {
      left: 10px !important;
    }

    &:after {
      right: 10px !important;
    }
  }

  .stats-item {
    padding: 20px 0 !important;
  }

  #footer-bottom {
    text-align: center;
  }
}



@media (max-width: 480px) {
  
}

@media (max-width: 320px) {
  .service-item-icon i {
    width: 58px ;
    height: 58px;
    padding: 7px;
  }

  .service-item-title h3 {
    font-size: 17px !important;
  }

  .about-content-box {
    margin-top: 40px;
  }

  .testimonial {
    img {
      max-width: 80px !important;
    }
    blockquote {
      padding: 6px 30px !important;
      p {
        font-size: 14px !important;
      }
      &:before {
        left: 0 !important;
      }

      &:after {
        right: 5px !important;
      }
    }
  }

}