
@media (min-width: 768px) and (max-width: 991px) {
  @import "../templates/modile_scren_menu";

   @import "../templates/about_section_template";




  .stats-item {
    padding: 20px 0;

  }

  #footer-bottom {
    text-align: center;
  }
}